@page "/Data/Agendamento"

@using DadosAcesso
@using DadosAcesso.Models

@inject IAgendamentoDados _db

<h3>Agendamentos</h3>
<h4>Aqui você vê os agendamentos</h4>

@if (agendamentos is null)
{
    <p><em>Carregando agendamentos</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Data e hora do agendamento</th>
                <th>Horário ínicio</th>
                <th>Horário fim</th>
                <th>Nome Cliente</th>
                <th>Tipo de Serviço</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var agendamento in agendamentos)
            {
                <tr>
                    <td>@agendamento.DiaHoraAgendamento</td>
                    <td>@agendamento.HoraInicioAgendamento</td>
                    <td>@agendamento.HoraFimAgendamento</td>
                    <td>@agendamento.NomeCliente</td>
                    <td>@agendamento.DescricaoTipoServico</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AgendamentoModels> agendamentos;
  

    protected override async Task OnInitializedAsync()
    {
        agendamentos = await _db.GetAgendamentos();       
    }
}
